body {
    background-image: url(background.jpeg);
    background-size: cover;
}

.numberToMatch {
    color: white;
    background-color: black;
    font-size: 50px;
    width: 24%;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;

}

.gemimage {
    max-width: 200px;
    max-height: 200px;
}
.gems {
    max-width: 814px;
    background: white;
    align-content: center;
}
#head-container {
    background: white;
    width: 263px;
    margin-left: 40%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
}

#container {
    background: white;
}